@charset "utf-8";
/* CSS Document */

	@media only screen and (max-width: 600px) {
		.grid-container {

  display: grid;

  grid-template-columns:'auto auto auto auto';


  padding: 10px;

}
	.grid-container > div {
  background-color: #333;
}
	* {
  box-sizing: border-box;
}

/* Style the body */
body {
font-family: Arial;
margin: 0;
position: relative;
background-color: #333;
} 
/* Header/logo Title */

.header {
    grid-column: 2/4;
text-align: center;
height: 39px;
z-index: 1;
width: 38%;
color: white;
float: left;
font-size: 5vw;
margin-left: 20%;
margin-top: 8%;
}
.logo{
grid-column: 1/2;
color: #339b04;
float: left;
font-size: 6vw;
margin-left: 19%;
margin-top: 3%;
font-weight: bold;
text-align: center;
	}
.nav { 
grid-column: 1/4;
background-color: #333;
margin-top: 2%;
list-style-type: none;
margin-left: 0vw;
text-align: center;}
.nav li{
margin-bottom: 1%;
	display: block
}.nav li a{
  color: white;
  padding: 14px 20px;
  text-align: center;
	text-decoration: none;

}

/* Change color on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
	border-radius: 15px;
}
	.slide{	    grid-column: 1/4;
text-align: center;}

.OurCompanyPic {
    grid-column: 1/4;
	text-align: center;
}
		.OurCompanyPic img{
		border-radius: 20px;
border: 2px solid green;
margin-top: 0%;
width: 100vw;
max-width: 87vw;
height: auto;
		}
		.left{
			left: 27px;
border-radius: 3px 0 0 3px;
		}
	.CuServ { 
	grid-column: 1/4;
width: 70vw;
text-align: justify;
font-size: 16px;
color: green;
margin-top: 3%;
		margin-left: 10%;
		}


	.footer2{
	 grid-column: 2/4;
border-left: 2px solid white;
margin-top: 3vw;
margin-right: 0%;
	}
#aboutCustomerService {
    grid-column: 1/4;
    color: white;
margin-left: 34vw;
font-size: 3vw;
}
	.OurCompanyPicCus{
	    grid-column: 1/4;
    text-align: center
}
		.OurCompanyPicCus img{
			height: auto;
    border-radius: 20px;
    border: 2px solid green;
    width: 100vw;
max-width: 87vw;
			margin-top: 0%;
		}
	.showSlide {  
            display: none;
			
			border-radius:20px;
        }  
.showSlide img {
border: 2px solid green;
border-radius: 20px;
width: 100vw;
max-width: 87vw;
height: auto;

}
		
        .slidercontainer {  
           max-width: 1000px;
position: relative;
margin-top: 0%;
        }  
	  .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: green;  
            font-weight: bold;  
            font-size: 24px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
.right {
    right: 27px;
    border-radius: 3px 0 0 3px;
}
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
             .content {
color: green;
font-size: 5vw;
padding: 8px 12px;
position: absolute;
bottom: 10px;
text-align: center;
margin-left: 38vw;
		}
        .active {  
		display: block;
        }  
.about {
grid-column: 1/4;
width: 70vw;
text-align: justify;
font-size: 16px;
color: green;
display: block;
margin-top: 5%;
margin-left: 10%;
}
#aboutCompany {
grid-column: 1/4;
color: white;
margin-left: 34vw;
font-size: 3vw;
}

.contactus {
grid-column: 1/4;
font-weight: bold;
color: white;
margin-top: 4%;
	margin-left: 34vw;
font-size: 3vw;
}
.Social {
grid-column: 1/2;
margin-top: 8%;
margin-left: 11vw;
width: 100%;
color: white;
font-size: 2vw;
}
	.Social img{
		width: 16px;
	}
	.yourname{
		margin-bottom:10px;margin-left: 12%;
		
	}
.yourname input {
width: 140px;
height: 25px;
color: green;
border-radius: 13px;
}
	.mail{
		margin-bottom:10px;margin-left: 12%;
	}
	.mail input {
width: 140px;
height: 25px;
color: green;
border-radius: 13px;
}
	.massege{
		margin-bottom:10px;margin-left: 12%;
	}
	.massege textarea {
width: 140px;
		height: 67px;
color: green;
border-radius: 13px;
		max-height: 67px;
}
	.button{
		margin-top:20px;margin-left: 12%;
	}
	.button input{
		color: green;
border: 2px solid green;
margin-left: 9%;
font-size: 16px;
font-weight: bold;
	}
	
	} 
@media only screen and (min-width: 601px) {
			.grid-container {

  display: grid;

  grid-template-columns:'auto auto auto auto auto auto';


  padding: 10px;

}
	.grid-container > div {
  background-color: #333;
}
	* {
  box-sizing: border-box;
}

/* Style the body */
body {
font-family: Arial;
margin: 0;
position: relative;
background-color: #333;
} 
/* Header/logo Title */

.header {
grid-column: 2/3;
text-align: center;
height: 39px;
z-index: 1;
width: 38%;
color: white;
float: left;
font-size: 22px;
margin-left: 0%;
margin-top: 8%;
}
.logo{
grid-column: 1/2;
color: #339b04;
float: left;
font-size: 6vw;
margin-left: 19%;
margin-top: 3%;
font-weight: bold;
text-align: center;
	}
.nav { 
grid-column: 1/6;
background-color: #333;
margin-top: 2%;
list-style-type: none;
margin-left: -2%;
text-align: center;}
.nav li{
margin-bottom: 1%;
	display: block
}.nav li a{
  color: white;
  padding: 14px 20px;
  text-align: center;
	text-decoration: none;

}

/* Change color on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
	border-radius: 15px;
}
	.slide{	    grid-column: 1/6;
text-align: center;}

.OurCompanyPic {
    grid-column: 1/6;
	text-align: center;
}
		.OurCompanyPic img{
		border-radius: 20px;
border: 2px solid green;
margin-top: 0%;
width: 100vw;
max-width: 87vw;
height: auto;
		}
		.left{
			left: 27px;
border-radius: 3px 0 0 3px;
		}
	.CuServ {
    grid-column: 1/6;
    width: 70vw;
    text-align: justify;
    font-size: 16px;
    color: green;
    margin-top: 3%;
    margin-left: 15vw;
}


	.footer2{
	 grid-column: 3/6;
border-left: 2px solid white;
margin-top: 3vw;
margin-right: 0%;
	}
#aboutCustomerService {
    grid-column: 1/6;
    color: white;
margin-left: 34vw;
font-size: 3vw;
}
	.OurCompanyPicCus{
	    grid-column: 1/6;
    text-align: center
}
		.OurCompanyPicCus img{
			height: auto;
    border-radius: 20px;
    border: 2px solid green;
    width: 100vw;
max-width: 87vw;
			margin-top: 0%;
		}
	.showSlide {  
            display: none;
			
			border-radius:20px;
        }  
.showSlide img {
border: 2px solid green;
border-radius: 20px;
width: 100vw;
max-width: 87vw;
height: auto;

}
		
        .slidercontainer {  
           max-width: 1000px;
position: relative;
margin-top: 0%;
        }  
	  .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: green;  
            font-weight: bold;  
            font-size: 24px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
.right {
    right: 27px;
    border-radius: 3px 0 0 3px;
}
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
             .content {
    color: green;
    font-size: 4vw;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin-left: 43vw;
}
        .active {  
		display: block;
        }  
.about {
grid-column: 1/6;
width: 70vw;
text-align: justify;
font-size: 16px;
color: green;
display: block;
margin-top: 5%;
margin-left: 15vw;
}
#aboutCompany {
grid-column: 1/6;
color: white;
margin-left: 34vw;
font-size: 3vw;
}

.contactus {
grid-column: 1/6;
font-weight: bold;
color: white;
margin-top: 4%;
margin-left: 46vw;
font-size: 3vw;
}
.Social {
grid-column: 1/3;
margin-top: 8%;
margin-left: 11vw;
width: 100%;
color: white;
font-size: 3vw;
}
	.Social img{
		width: 16px;
	}
	.yourname{
		margin-bottom:10px;margin-left: 12%;
		
	}
.yourname input {
width: 140px;
height: 25px;
color: green;
border-radius: 13px;
}
	.mail{
		margin-bottom:10px;margin-left: 12%;
	}
	.mail input {
width: 140px;
height: 25px;
color: green;
border-radius: 13px;
}
	.massege{
		margin-bottom:10px;margin-left: 12%;
	}
	.massege textarea {
width: 140px;
		height: 67px;
color: green;
border-radius: 13px;
		max-height: 67px;
}
	.button{
		margin-top:20px;margin-left: 12%;
	}
	.button input{
		color: green;
border: 2px solid green;
margin-left: 9%;
font-size: 16px;
font-weight: bold;
	}
	
	} 
	  @media only screen and (min-width: 768px) {
				.grid-container {

  display: grid;

  grid-template-columns:'auto auto auto auto auto auto';


  padding: 10px;

}
	.grid-container > div {
  background-color: #333;
}
	* {
  box-sizing: border-box;
}

/* Style the body */
body {
font-family: Arial;
margin: 0;
position: relative;
background-color: #333;
} 
/* Header/logo Title */

.header {
grid-column: 2/3;
text-align: center;
height: 39px;
z-index: 1;
width: 38%;
color: white;
float: left;
font-size: 22px;
margin-left: 0%;
margin-top: 8%;
}
.logo{
grid-column: 1/2;
color: #339b04;
float: left;
font-size: 6vw;
margin-left: 19%;
margin-top: 3%;
font-weight: bold;
text-align: center;
	}
.nav { 
grid-column: 1/6;
background-color: #333;
margin-top: 2%;
list-style-type: none;
margin-left: -2%;
text-align: center;
		  margin-bottom: 3%}
.nav li{
margin-bottom: 1%;
	display: inline
}.nav li a{
  color: white;
  padding: 14px 20px;
  text-align: center;
	text-decoration: none;

}

/* Change color on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
	border-radius: 15px;
}
	.slide{	    grid-column: 1/6;
text-align: center;}

.OurCompanyPic {
    grid-column: 1/6;
	text-align: center;
}
		.OurCompanyPic img{
		border-radius: 20px;
border: 2px solid green;
margin-top: 0%;
width: 100vw;
max-width: 87vw;
height: auto;
		}
		.left{
			left: 27px;
border-radius: 3px 0 0 3px;
		}
	.CuServ {
    grid-column: 1/6;
    width: 70vw;
    text-align: justify;
    font-size: 16px;
    color: green;
    margin-top: 3%;
    margin-left: 15vw;
}


	.footer2{
	 grid-column: 3/6;
border-left: 2px solid white;
margin-top: 3vw;
margin-right: 0%;
	}
#aboutCustomerService {
    grid-column: 1/6;
    color: white;
margin-left: 34vw;
font-size: 3vw;
}
	.OurCompanyPicCus{
	    grid-column: 1/6;
    text-align: center
}
		.OurCompanyPicCus img{
			height: auto;
    border-radius: 20px;
    border: 2px solid green;
    width: 100vw;
max-width: 87vw;
			margin-top: 0%;
		}
	.showSlide {  
            display: none;
			
			border-radius:20px;
        }  
.showSlide img {
border: 2px solid green;
border-radius: 20px;
width: 100vw;
max-width: 87vw;
height: auto;

}
		
        .slidercontainer {  
           max-width: 1000px;
position: relative;
margin-top: 0%;
        }  
	  .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: green;  
            font-weight: bold;  
            font-size: 24px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
.right {
    right: 57px;
    border-radius: 3px 0 0 3px;
}
		  .left{
			  left:57px;
		  }
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
             .content {
    color: green;
    font-size: 4vw;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin-left: 43vw;
}
        .active {  
		display: block;
        }  
.about {
grid-column: 1/6;
width: 70vw;
text-align: justify;
font-size: 16px;
color: green;
display: block;
margin-top: 5%;
margin-left: 15vw;
}
#aboutCompany {
grid-column: 1/6;
color: white;
margin-left: 34vw;
font-size: 3vw;
}

.contactus {
grid-column: 1/6;
font-weight: bold;
color: white;
margin-top: 4%;
margin-left: 46vw;
font-size: 3vw;
}
.Social {
grid-column: 1/3;
margin-top: 8%;
margin-left: 11vw;
width: 100%;
color: white;
font-size: 3vw;
}
	.Social img{
		width: 16px;
	}
	.yourname{
		margin-bottom:10px;margin-left: 12%;
		
	}
.yourname input {
width: 172px;
height: 33px;
color: green;
border-radius: 13px;
}
	.mail{
		margin-bottom:10px;margin-left: 12%;
	}
	.mail input {
width: 172px;
height: 33px;
color: green;
border-radius: 13px;
}
	.massege{
		margin-bottom:10px;margin-left: 12%;
	}
	.massege textarea {
width: 172px;
		height: 67px;
color: green;
border-radius: 13px;
		max-height: 67px;
}
	.button{
		margin-top:20px;margin-left: 12%;
	}
	.button input{
		color: green;
border: 2px solid green;
margin-left: 9%;
font-size: 16px;
font-weight: bold;
	}	  
	} 
	  @media only screen and (min-width: 992px) {
				.grid-container {

  display: grid;

  grid-template-columns:'auto auto auto auto auto auto';


  padding: 10px;

}
	.grid-container > div {
  background-color: #333;
}
	* {
  box-sizing: border-box;
}

/* Style the body */
body {
font-family: Arial;
margin: 0;
position: relative;
background-color: #333;
} 
/* Header/logo Title */

.header {
grid-column: 2/3;
text-align: center;
height: 39px;
z-index: 1;
width: 38%;
color: white;
float: left;
font-size: 22px;
margin-left: 0%;
margin-top: 8%;
}
.logo{
grid-column: 1/2;
color: #339b04;
float: left;
font-size: 6vw;
margin-left: 19%;
margin-top: 3%;
font-weight: bold;
text-align: center;
	}
.nav { 
grid-column: 1/6;
background-color: #333;
margin-top: 2%;
list-style-type: none;
margin-left: -2%;
text-align: center;
		  margin-bottom: 3%}
.nav li{
margin-bottom: 1%;
	display: inline
}.nav li a{
  color: white;
  padding: 14px 20px;
  text-align: center;
	text-decoration: none;

}

/* Change color on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
	border-radius: 15px;
}
	.slide{	    grid-column: 1/6;
text-align: center;}

.OurCompanyPic {
    grid-column: 1/6;
	text-align: center;
}
		.OurCompanyPic img{
		border-radius: 20px;
border: 2px solid green;
margin-top: 0%;
width: 100vw;
max-width: 87vw;
height: auto;
		}
		.left{
			left: 27px;
border-radius: 3px 0 0 3px;
		}
	.CuServ {
    grid-column: 1/6;
    width: 70vw;
    text-align: justify;
    font-size: 16px;
    color: green;
    margin-top: 3%;
    margin-left: 15vw;
}


	.footer2{
	 grid-column: 3/6;
border-left: 2px solid white;
margin-top: 3vw;
margin-right: 0%;
	}
#aboutCustomerService {
    grid-column: 1/6;
    color: white;
margin-left: 34vw;
font-size: 3vw;
}
	.OurCompanyPicCus{
	    grid-column: 1/6;
    text-align: center
}
		.OurCompanyPicCus img{
			height: auto;
    border-radius: 20px;
    border: 2px solid green;
    width: 100vw;
max-width: 87vw;
			margin-top: 0%;
		}
	.showSlide {  
            display: none;
			
			border-radius:20px;
        }  
.showSlide img {
border: 2px solid green;
border-radius: 20px;
width: 100vw;
max-width: 87vw;
height: auto;

}
		
        .slidercontainer {  
           max-width: 1000px;
position: relative;
margin-top: 0%;
        }  
	  .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: green;  
            font-weight: bold;  
            font-size: 24px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
.right {
    right: 57px;
    border-radius: 3px 0 0 3px;
}
		  .left{
			  left:57px;
		  }
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
             .content {
    color: green;
    font-size: 4vw;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin-left: 43vw;
}
        .active {  
		display: block;
        }  
.about {
grid-column: 1/6;
width: 70vw;
text-align: justify;
font-size: 16px;
color: green;
display: block;
margin-top: 5%;
margin-left: 15vw;
}
#aboutCompany {
grid-column: 1/6;
color: white;
margin-left: 34vw;
font-size: 3vw;
}

.contactus {
grid-column: 1/6;
font-weight: bold;
color: white;
margin-top: 4%;
margin-left: 46vw;
font-size: 3vw;
}
.Social {
grid-column: 1/3;
margin-top: 8%;
margin-left: 11vw;
width: 100%;
color: white;
font-size: 3vw;
}
	.Social img {
    width: 26px;
}
	.yourname{
		margin-bottom:10px;margin-left: 12%;
		
	}
.yourname input {
width: 172px;
height: 33px;
color: green;
border-radius: 13px;
}
	.mail{
		margin-bottom:10px;margin-left: 12%;
	}
	.mail input {
width: 172px;
height: 33px;
color: green;
border-radius: 13px;
}
	.massege{
		margin-bottom:10px;margin-left: 12%;
	}
	.massege textarea {
width: 172px;
		height: 67px;
color: green;
border-radius: 13px;
		max-height: 67px;
}
	.button{
		margin-top:20px;margin-left: 12%;
	}
	.button input{
		color: green;
border: 2px solid green;
margin-left: 9%;
font-size: 16px;
font-weight: bold;
	}	  
	} 
	  @media only screen and (min-width: 1200px) {
				.grid-container {

  display: grid;

  grid-template-columns:'auto auto auto auto auto auto';


  padding: 10px;

}
	.grid-container > div {
  background-color: #333;
}
	* {
  box-sizing: border-box;
}

/* Style the body */
body {
font-family: Arial;
margin: 0;
position: relative;
background-color: #333;
} 
/* Header/logo Title */

.header {
grid-column: 2/3;
text-align: center;
height: 39px;
z-index: 1;
width: 38%;
color: white;
float: left;
font-size: 22px;
margin-left: 0%;
margin-top: 8%;
}
.logo{
grid-column: 1/2;
color: #339b04;
float: left;
font-size: 6vw;
margin-left: 19%;
margin-top: 3%;
font-weight: bold;
text-align: center;
	}
.nav { 
grid-column: 1/6;
background-color: #333;
margin-top: 2%;
list-style-type: none;
margin-left: -2%;
text-align: center;
		  margin-bottom: 3%}
.nav li{
margin-bottom: 1%;
	display: inline
}.nav li a{
  color: white;
  padding: 14px 20px;
  text-align: center;
	text-decoration: none;

}

/* Change color on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
	border-radius: 15px;
}
	.slide{	    grid-column: 1/6;
text-align: center;
		  margin-left: 5vw;
		  }

.OurCompanyPic {
    grid-column: 1/6;
	text-align: center;
}
		.OurCompanyPic img{
		border-radius: 20px;
border: 2px solid green;
margin-top: 0%;
width: 100vw;
max-width: 87vw;
height: auto;
		}
		.left{
			left: 27px;
border-radius: 3px 0 0 3px;
		}
	.CuServ {
    grid-column: 1/6;
    width: 70vw;
    text-align: justify;
    font-size: 16px;
    color: green;
    margin-top: 3%;
    margin-left: 15vw;
}


	.footer2{
	 grid-column: 3/6;
border-left: 2px solid white;
margin-top: 3vw;
margin-right: 0%;
	}
#aboutCustomerService {
    grid-column: 1/6;
    color: white;
margin-left: 34vw;
font-size: 3vw;
}
	.OurCompanyPicCus{
	    grid-column: 1/6;
    text-align: center
}
		.OurCompanyPicCus img{
			height: auto;
    border-radius: 20px;
    border: 2px solid green;
    width: 100vw;
max-width: 87vw;
			margin-top: 0%;
		}
	.showSlide {  
            display: none;
			
			border-radius:20px;
        }  
.showSlide img {
border: 2px solid green;
border-radius: 20px;
width: 100vw;
max-width: 87vw;
height: auto;

}
		
        .slidercontainer {  
           max-width: 1000px;
position: relative;
margin-top: 0%;
        }  
	  .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: green;  
            font-weight: bold;  
            font-size: 24px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
.right {
right: 57px;
border-radius: 3px 0 0 3px;
margin-right: -8vw;
}
		  .left{
			  left:57px;
		  }
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
             .content {
    color: green;
    font-size: 4vw;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin-left: 43vw;
}
        .active {  
		display: block;
        }  
.about {
grid-column: 1/6;
width: 70vw;
text-align: justify;
font-size: 16px;
color: green;
display: block;
margin-top: 5%;
margin-left: 15vw;
}
#aboutCompany {
grid-column: 1/6;
color: white;
margin-left: 34vw;
font-size: 3vw;
}

.contactus {
grid-column: 1/6;
font-weight: bold;
color: white;
margin-top: 4%;
margin-left: 46vw;
font-size: 3vw;
}
.Social {
grid-column: 1/3;
margin-top: 8%;
margin-left: 11vw;
width: 100%;
color: white;
font-size: 3vw;
}
.Social img {
    width: 25px;
}
	.yourname{
		margin-bottom:10px;margin-left: 12%;
		
	}
.yourname input {
width: 172px;
height: 33px;
color: green;
border-radius: 13px;
}
	.mail{
		margin-bottom:10px;margin-left: 12%;
	}
	.mail input {
width: 172px;
height: 33px;
color: green;
border-radius: 13px;
}
	.massege{
		margin-bottom:10px;margin-left: 12%;
	}
	.massege textarea {
width: 172px;
		height: 67px;
color: green;
border-radius: 13px;
		max-height: 67px;
}
	.button{
		margin-top:20px;margin-left: 12%;
	}
	.button input{
		color: green;
border: 2px solid green;
margin-left: 9%;
font-size: 16px;
font-weight: bold;
	}	  
	} 
		.buttonGoToTopH{
			    width: 48px;
    background-color: red !important;
    height: 37px;
    font-size: 24px;
    text-align: center;
			float:right;
			margin-right: 2%;
			 cursor: pointer; 
  border-radius: 10px;
			  position: fixed;
			z-index: 999;
			bottom: 40px; 
  right: 5px;
			color:white;
			text-decoration: none;
			display: none
}
	
		
